.bg_color {
background-color:#5F6B61;
}

.main_logo {
width:20em;
height:auto;
}

.ss-like {
color:green;
}

.ss-dislike {
color:red;
}

.ss-females,.ss-males {
font-size:xx-large;
color:purple;
}

.display_text {
/*color:#fff5ee;*/
font-family:helvetica;
font-weight:700;
text-align:center;
font-size:1.4em;
margin:auto;
}

.menu_head_text {
font-family: 'Parisienne', helvetica, sans-serif;
font-size:3em;
font-weight:bold;
/*color:#d17474;*/
}

.visual-object-info {
font-weight:700;
font-family:helvetica;
margin:auto;
}

.ss-pig {
text-decoration:none;
font-size:1.2em;
}

.scroll {
font-size:1.5em;
}

#menu-tab {
border-radius:.5em;
background:#fff5ee;
}

.menu_header {
background-color:rgba(0,0,0,.20);
padding-bottom:.3em;
}

.restaurant_footer {
  border-radius: 10em ;
}

.restaurant_info {
background-color:#fff5ee;
border-radius:.5em;
}

.restaurant_info p {
padding-top:.5em;
padding-bottom:.1em;
font-size:1.2em;
/*color:#000;*/
text-align:center;
}

.restaurant_info a {
text-decoration:none;
}

.open-text-box {
background-color:rgba(0,0,0,.20);
border-radius:.3em;
padding:.2em;
}

​
.votes a,.ss-like,.ss-dislike {
text-decoration:none;
font-size:large;
}

.infobox,.itembox {
display:none;
position:absolute;
width:300px;
background-color:rgba(255,255,255,.20);
border:solid 2px #4c4c4c;
color:rgba(0,0,0,.95);
margin:.5em;
padding:.2em;
}

.agedisplay,.itemdisplay {
margin:0 auto;
}

.item-info,#data-info {
font-family:helvetica, sans-serif;
}
