.bg_color {
	background-color: #5F6B61;
}
.main_logo {
	width: 20em;
	height: auto;
}​

/*--- MODIFY CSS BELOW SO BOTH AREN'T NECESSARY*/
.votes a {
	text-decoration: none;
	font-size: large;
}

.ss-like, .ss-dislike {
	text-decoration: none;
	font-size: large;
}
/*-----------*/

.ss-like {
	color: green;
}

.ss-dislike {
	color: red;
}

.ss-pig {
	text-decoration: none;
	font-size: 1.2em;
}

.femaledisplay, .maledisplay {
	/*margin-left: 20%;
	margin-right: auto;*/
}

.ss-females, .ss-males {
	font-size: xx-large;
	color: purple;
}

.display_text  {
	color: #fff5ee;
	font-family: helvetica;
	font-weight: bold;
		text-align: center;
		font-size: 1.4em;
		/*max-width: 45%;*/
		margin: auto;
    /*margin-top: 0.6em;
    margin-bottom: 0.6em;*/

}

/*D3 Bubble Chart Style*/
.infobox {
				display: none;
        position: absolute;
        width: 300px;
        background-color: rgba(255,255,255,.20);
        padding: 0.2em;
        border: solid 2px #4c4c4c;
        margin: .5em;
        color: #fff5ee;
}
.agedisplay {
	margin: 0 auto;
}

.itembox {
				display: none;
        position: absolute;
        width: 300px;
        background-color: rgba(255,255,255,.20);
        padding: 0.2em;
        border: solid 2px #4c4c4c;
        margin: .5em;
        color: #fff5ee;
}
.itemdisplay {
	margin: 0 auto;
}

.menu_head_text {
font-family: arial, sans-serif;
color: #fff5ee;
font-size: 2em;
}

.visual-object-info {
	margin: auto;
	font-weight: bold;
}