

.bg_color {
	background-color: #87ceeb;
}
.main_logo {
	width: 20em;
	height: auto;
}​

/*--- MODIFY CSS BELOW SO BOTH AREN'T NECESSARY*/
.votes a {
	text-decoration: none;
	font-size: large;
}

.ss-like, .ss-dislike {
	text-decoration: none;
	font-size: large;
}

.ss-like {
	color: green;
}

.ss-dislike {
	color: red;
}