/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	html, body {
		height: 100%;
		margin: 0;
	}

	input[type="text"], textarea {
  background-color: #fff5ee;
	}

	.fb-button {
		width: 20em;
	}

	.tab-bar {
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;
	}

	.tab-container {
		margin-top: 0.3em;
		margin-right: 0.2em;
		margin-left: 0.2em;
	}

	.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
	.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
	.tab a:hover { text-decoration: underline; }
	.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
	.tab a.active { font-weight: bold; }
	.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }


  #menu-tab {
  	background: #fff;
    font-size: 1em;
  }

  #menu-tab h2 {
  	text-align: center;
     padding-top: 0.2em;
  }

	#wrapper {
		min-height: 100%;
		width:100%;
		display: table;
	}


	#nav-menu {
		position:fixed;
		width: 100%;
	}

	#menu {
		display: none;
	}

	.restaurant_container {
		padding-top: 4em;
	}

	.friends_container {
		padding-top: 4em;
	}

	.friends_container div {
		border-bottom: 1px solid black;
		font-size: 0.4em;
	}

	.facebook_photo {
		border: 1px solid black;
		border-radius: 50%;
		float: left;
		margin-left: 1em;
		margin-right: 0.5em;
	}

	.restaurant_container h1 {
  	text-align: center;
    font-size: 1.4em;
    line-height: 1em
  }

	.content {
		padding-top: 4em;
		display: table;
	}

	.main_search {
		text-align: center;
		display: table-row;
		top: 40%;
 	}

	.main_search h1 {
		font-size: 6em;
	}

	.main_search form {
		display: inline-block;
    text-align: center;
	}

	.main_search form input {
		border-radius: 10px;
		height: 3em;
		width: 20em;
		font-size: 1em;
		text-align: center;
	}

	.main_search form select {
		border-radius: 10px;
		height: 3em;
		width: 20em;
		font-size: 1em;
		text-align: center;
		text-indent: 40%;
	}

	.main_search form select option {
		text-align: center;
	}

	#restaurant_name::-moz-placeholder {
		font-size: 1.1em;
		text-align: center;
	}

	#restaurant_name::-webkit-input-placeholder {
		font-size: 1.1em;
		text-align: center;
	}

  .top_five_items {
    display: block;
  }

/*items except top 5*/
  .remaining_items {
    display: none;
  }

	.item {
    margin: 1.2em;
		/*display: block;*/
		/*border: 1px red solid;*/
	}

	.item .item-info {
		display: inline-block;
		text-align: center;
		font-size: 1.3em;
		max-width: 45%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    width: 10em;
	}


	.item .votes {
		display: table-cell;
		float: right;
		vertical-align: middle;
		text-align: right;
		margin-right: 15%;
	}

.open-text-box {
  display: none;
}

	.vote-holder {
		font-size: 1.4em;
	}

	.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }

  a.back_btn {
  	float: left;
  }

  a.show_all_items_btn {
    float: center;
    text-align: center;
    color: #ffffff;
  /*  position: relative;*/
    display: block;
    vertical-align: middle;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
    background-color: #4c4c4c;
    }
  }

  #error_explanation {
  	max-width: 20em;
  	text-align: left;
  }

  .flash {
  	color: red;
  }

  #front-page-notice {
  	margin-top: 1em;
  	color: green;
  }

  #info-tab {
  	font-size: 1em;
  	margin-top: 1em;
  }

  #map-canvas {
  	position: relative;
  	margin-top: 1em;
  	height: 20em;
  	width: 20em;
  	margin-right: auto;
  	margin-left: auto;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.main_search {

	}
}